:root{
  font-family: "Alice", serif;
  line-height: 150%; /*aplicando altura de linha*/
  color: #573A37;
}

body {
  background-image: url(assets/main.jpg);
  background-size: cover; /*cobre todo o conteúdo*/
}

#page{
box-sizing: border-box;
padding: 24px;
width: 800px;
background-color: #F0E8C2;
border-radius: 24px;

margin: 48px auto;
}

img {
  border-radius: 1.6rem;
}

h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}
h1,h2 {
  color: #291B1A;
}
p {
  color: #573A37;
}
